In [3]:
import pandas as pd
import os
os.chdir('/Users/andreypovaliy/Documents/Education/ITMO_DS/05_python_for_data_analysis/')

## **Task 5 –°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö**

üìÅ –î–∞—Ç–∞—Å–µ—Ç –æ –ø–æ–∫—É–ø–∫–∞—Ö –∏–≥—Ä: https://disk.yandex.ru/d/7nyAB8J4WDAwdQ



---


**Id**  - –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞

**Client_id** - –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–ª–∏–µ–Ω—Ç–∞

**Order_day** - –¥–∞—Ç–∞ –∑–∞–∫–∞–∑–∞

**Category_id** - –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

**Category_name** - –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

**Good_id** - –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Ç–æ–≤–∞—Ä–∞

**Good_name** - –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞

**Good_price** - —Ü–µ–Ω–∞ —Ç–æ–≤–∞—Ä–∞

**Good_cnt** - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç—Ç–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –∑–∞–∫–∞–∑–µ

**Steam_popularity_score** - –ø–æ–∑–∏—Ü–∏—è –≤ ¬´–¢–û–ü 500 –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö –∏–≥—Ä¬ª –≤ Steam
(–ø–æ–∑–∏—Ü–∏–∏ –º–æ–≥—É—Ç –ø–æ–≤—Ç–æ—Ä—è—Ç—Å—è, —Ç–∞–∫ –∫–∞–∫ —Ç–æ–ø —Ä–µ–≥—É–ª—è—Ä–Ω–æ
–º–µ–Ω—è–µ—Ç—Å—è)

**Gender_cd** - –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞

**Age** - –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞

**Education_level** - —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞:

- SCH –Ω–∞—á–∞–ª—å–Ω–æ–µ, —Å—Ä–µ–¥–Ω–µ–µ
- GRD –≤—ã—Å—à–µ–µ
- UGR –Ω–µ–ø–æ–ª–Ω–æ–µ –≤—ã—Å—à–µ–µ
- PGR –¥–≤–∞ –≤—ã—Å—à–∏—Ö
- ACD —É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å

**Monthly_income_amt** –¥–æ—Ö–æ–¥ –∫–ª–∏–µ–Ω—Ç–∞

In [4]:
df = pd.read_csv('./lect/data/T_games_dataset.csv')
df.head()

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
0,1500571355,5-25R6ZT3L9,2023-05-22,29688,–°–∫–∏–¥–∫–∏,890257,The Night of the Rabbit,299.00,1.0,M,28,UGR,–ú–æ—Å–∫–≤–∞,73552,0.0
1,1500571245,5-2P4Z5VSMF,2023-05-22,28574,–†–æ–ª–µ–≤—ã–µ (RPG),1436296,Ni no Kuni Wrath of the White Witch Remastered,269.85,1.0,M,26,GRD,–ú–æ—Å–∫–≤–∞,281417,0.0
2,1500573164,5-YGO64ONA,2023-05-24,30659,–ö–∞–∑—É–∞–ª—å–Ω—ã–µ –∏–≥—Ä—ã,1179848,KeyWe - The 100th Annual Grand Ol' Telepost To...,77.00,1.0,M,30,GRD,–ú–æ—Å–∫–≤–∞,86000,0.0
3,1500364601,5-1VA0D94LX,2022-10-23,29688,–°–∫–∏–¥–∫–∏,1204914,GTFO,1675.01,1.0,M,24,GRD,–°–∞–º–∞—Ä–∞,56000,283.0
4,1500288143,5-1QCUV9SY7,2022-07-03,28577,–≠–∫—à–Ω,1314503,Neon White,550.00,1.0,M,38,GRD,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,32000,1676.0

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88699 entries, 0 to 88698
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      88699 non-null  int64
 1   client_id               88699 non-null  object
 2   order_day               88699 non-null  datetime64[ns]
 3   category_id             88699 non-null  int64
 4   category_name           88699 non-null  object
 5   good_id                 88699 non-null  int64
 6   good_name               88699 non-null  object
 7   good_price              88699 non-null  float64
 8   good_cnt                88699 non-null  float64
 9   gender_cd               88699 non-null  object
 10  age                     88699 non-null  int64
 11  education_level         88699 non-null  object
 12  city_nm                 88699 non-null  object
 13  monthly_income_amt      88699 non-null  int64
 14  steam_popularity_score  88699 non-null  float64
 15  amount                  88699 non-null  float64
 16  ageGroup                88699 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 11.5+ MB

# **–ó–∞–¥–∞–Ω–∏–µ: –∏—Å–ø–æ–ª—å–∑—É—è —Ç–æ–ª—å–∫–æ —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã `pivot_table` —Ä–µ—à–∏—Ç—å –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –∑–∞–¥–∞—á–∏**

In [29]:
# 1. –ü–æ–ª –∏ –ø–æ–∫—É–ø–∫–∏: —Å—Ä–µ–¥–Ω–∏–π –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —á–µ–∫ –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏–≥—Ä –∏—Å—Ö–æ–¥—è –∏–∑ –ø–æ–ª–∞ –∫–ª–∏–µ–Ω—Ç–∞.
pd.pivot_table(df, values="good_price", index="gender_cd", columns="category_name", aggfunc=["mean", "max"])

                     mean                                                    \
category_name       Anime         VR Xbox –ø–æ–¥–ø–∏—Å–∫–∞      –ê—Ä–∫–∞–¥—ã  –ë–µ—Å—Ç—Å–µ–ª–ª–µ—Ä—ã
gender_cd
F              421.865385  26.670185   1528.090909  182.750000  1307.209832
M              352.446878  67.905209   1598.460159  216.707162  1340.096573

                                                                \
category_name       –ì–æ–Ω–∫–∏   –î–ª—è –¥–µ—Ç–µ–π       –î—Ä—É–≥–æ–µ        –ò–Ω–¥–∏
gender_cd
F              106.839043  300.591786  1548.783333  236.926771
M              150.373682  293.845256  1716.376908  265.375852

                               ...         max                           \
category_name –ö–∞–∑—É–∞–ª—å–Ω—ã–µ –∏–≥—Ä—ã  ... –ü—Ä–∏–∫–ª—é—á–µ–Ω–∏—è –†–æ–ª–µ–≤—ã–µ (RPG) –°–∏–º—É–ª—è—Ç–æ—Ä—ã
gender_cd                      ...
F                  207.377718  ...     5790.00       5934.88    3959.00
M                  145.248286  ...     9344.71       5934.88   10599.94

                                                                        \
category_name   –°–∫–∏–¥–∫–∏     –°–ø–æ—Ä—Ç –°—Ç—Ä–∞—Ç–µ–≥–∏–∏ –§–∞–π—Ç–∏–Ω–≥–∏   –•–æ—Ä—Ä–æ—Ä    –®—É—Ç–µ—Ä—ã
gender_cd
F              4280.11   2549.00    3959.0  5999.00  2499.00   6124.86
M              6705.45  10599.94    3959.0  6994.45  4354.18  10656.30


category_name      –≠–∫—à–Ω
gender_cd
F               7499.00
M              10542.47

[2 rows x 50 columns]

In [20]:
# 2. –ú–µ–¥–∏–∞–Ω–Ω—ã–π –∏ —Å—Ä–µ–¥–Ω–∏–π —á–µ–∫ –ø–æ –≥–æ—Ä–æ–¥—É –∏ —É—Ä–æ–≤–Ω—é –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
df['amount'] = df['good_price'] * df['good_cnt']
pd.pivot_table(df, values="amount", index="city_nm", columns="education_level", aggfunc=["median", "mean"])

                   median                                          mean  \
education_level       ACD     GRD      PGR     SCH     UGR          ACD
city_nm
–í–æ–ª–≥–æ–≥—Ä–∞–¥         435.000  314.10  300.000  329.67  329.00   453.033333
–í–æ—Ä–æ–Ω–µ–∂           151.875  329.67  497.300  325.50  329.00   282.691667
–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥      314.585  319.20  274.300  305.66  329.00   418.028500
–ö–∞–∑–∞–Ω—å            304.500  329.00  329.500  305.66  329.67   506.221429
–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä         153.125  329.00  259.000  294.00  329.00   153.125000
–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫        740.625  269.85  357.455  299.40  299.50  1065.875000
–ú–æ—Å–∫–≤–∞            385.000  348.00  359.600  329.67  340.00   732.511770
–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥  1199.640  299.40  435.000  329.00  300.00  1292.445000
–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫       379.800  304.50  239.600  259.00  320.00   534.997500
–û–º—Å–∫              350.440  324.50  345.050  319.60  337.72   350.440000
–ü–µ—Ä–º—å             259.000  322.00  174.500  329.00  300.00  1493.863333
–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É    881.500  329.00  360.000  329.67  329.00  1211.830000
–°–∞–º–∞—Ä–∞            271.125  329.67  558.500  249.75  328.65   271.125000
–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥   314.200  329.00  324.425  329.00  331.80   539.253158
–£—Ñ–∞               949.000  299.00  216.000  299.40  288.00   949.000000
–ß–µ–ª—è–±–∏–Ω—Å–∫         774.000  319.20  151.900  288.50  329.00   811.675000


education_level         GRD         PGR         SCH         UGR
city_nm
–í–æ–ª–≥–æ–≥—Ä–∞–¥        611.496950  470.160526  651.072234  518.483293
–í–æ—Ä–æ–Ω–µ–∂          574.038179  796.762333  494.951941  615.510143
–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥     543.059331  628.229394  570.689811  626.886802
–ö–∞–∑–∞–Ω—å           563.526242  665.623056  562.386842  570.520384
–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä        580.718382  442.862955  540.018231  564.650359
–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫       487.668711  568.607500  549.880101  535.741061
–ú–æ—Å–∫–≤–∞           612.506070  586.873276  598.389891  603.837725
–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥  547.096269  803.179655  558.548216  557.020940
–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫      547.790306  375.735714  507.519445  561.629704
–û–º—Å–∫             592.109900  363.623529  584.984303  566.654367
–ü–µ—Ä–º—å            578.967274  332.191304  570.064854  590.408095
–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É   540.949562  788.441600  664.612350  567.632841
–°–∞–º–∞—Ä–∞           646.185719  974.811458  475.906803  573.417873
–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥  578.900787  552.071429  588.318998  615.756153
–£—Ñ–∞              534.346469  485.305714  490.904561  484.439023
–ß–µ–ª—è–±–∏–Ω—Å–∫        523.172065  341.973784  508.937849  546.097634

In [ ]:
# 3. –°—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç, –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç, –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–∞–∂–¥–æ–π –∏–≥—Ä–æ–≤–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

pd.pivot_table(df, values="age", index="gender_cd", columns="category_name", aggfunc=["median", "mean",'max'])

              median                                                         \
category_name  Anime    VR Xbox –ø–æ–¥–ø–∏—Å–∫–∞ –ê—Ä–∫–∞–¥—ã –ë–µ—Å—Ç—Å–µ–ª–ª–µ—Ä—ã –ì–æ–Ω–∫–∏ –î–ª—è –¥–µ—Ç–µ–π
gender_cd
F               25.0  24.0          32.0   28.0        24.0  28.0      27.5
M               23.0  20.0          28.0   25.0        24.0  22.0      30.0

                                            ...         max                \
category_name –î—Ä—É–≥–æ–µ  –ò–Ω–¥–∏ –ö–∞–∑—É–∞–ª—å–Ω—ã–µ –∏–≥—Ä—ã  ... –ü—Ä–∏–∫–ª—é—á–µ–Ω–∏—è –†–æ–ª–µ–≤—ã–µ (RPG)
gender_cd                                   ...
F               33.0  26.0            25.0  ...        76.0          76.0
M               28.0  24.0            22.0  ...        69.0          63.0


category_name –°–∏–º—É–ª—è—Ç–æ—Ä—ã –°–∫–∏–¥–∫–∏ –°–ø–æ—Ä—Ç –°—Ç—Ä–∞—Ç–µ–≥–∏–∏ –§–∞–π—Ç–∏–Ω–≥–∏ –•–æ—Ä—Ä–æ—Ä –®—É—Ç–µ—Ä—ã  –≠–∫—à–Ω
gender_cd
F                   76.0   86.0  47.0      76.0     48.0   59.0   65.0  76.0
M                   77.0   70.0  57.0      66.0     60.0   68.0   54.0  72.0

[2 rows x 75 columns]

In [48]:
# 4. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∏–≥—Ä (–¢–û–ü - 10 –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥–∞–∂)
pd.pivot_table(df, values="good_cnt", index = "good_name",  aggfunc= "count").sort_values(by= 'good_cnt', ascending= False).head(10)

                                   good_cnt
good_name
Resident Evil 7                        3594
RESIDENT EVIL 2 - Deluxe Edition       2462
Dead Cells                             1316
Detroit: Become Human                  1143
RESIDENT EVIL 2                        1131
Noise                                  1130
Squad                                  1117
VCB: Why City 4k                       1116
RESIDENT EVIL 7 - Gold Edition         1045
Potion Craft: Alchemist Simulator       869

In [67]:
# 5. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∏–≥—Ä –≤ –∂–∞–Ω—Ä–∞—Ö –≠–∫—à–µ–Ω, –®—É—Ç–µ—Ä—ã, –°–∏–º—É–ª—è—Ç–æ—Ä—ã (–¢–û–ü - 20 –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥–∞–∂)
df1= df[df['category_name'].isin(['–≠–∫—à–Ω', '–®—É—Ç–µ—Ä—ã', '–°–∏–º—É–ª—è—Ç–æ—Ä—ã'])]
pd.pivot_table(df1, values="good_cnt", index = "good_name",  aggfunc= "count").sort_values(by= 'good_cnt', ascending= False).head(20)

                                            good_cnt
good_name
Resident Evil 7                                 1405
RESIDENT EVIL 2 - Deluxe Edition                 851
Detroit: Become Human                            554
VCB: Why City 4k                                 445
RESIDENT EVIL 7 - Gold Edition                   431
Dead Cells                                       430
Potion Craft: Alchemist Simulator                413
RESIDENT EVIL 2                                  401
Hitman: Absolution                               385
Elden Ring                                       377
Apex Legends: 2150 Coins                         339
Apex Legends: 1000 Coins - DLC                   312
ELDEN RING                                       305
Squad                                            261
APEX LEGENDS - 1000 COINS VIRTUAL CURRENCY       238
HITMAN‚Ñ¢ 2 ‚Äì GOLD EDITION                         223
Townscaper                                       201
Mortal Shell                                     193
Bus Driver Simulator                             191
Apex Legends: 4350 Coins                         189

In [77]:
# 6. –†–µ–π—Ç–∏–Ω–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥–∞–∂ —Å—Ä–µ–¥–∏ –¥–µ—Ç–µ–π –∏ –≤–∑—Ä–æ—Å–ª—ã—Ö (–¢–û–ü - 5 –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥–∞–∂)
df['ageGroup'] = ['child' if x < 18 else 'adult' for x in df['age']]
pd.pivot_table(df, values="good_cnt", index = "good_name", columns= "ageGroup",  aggfunc= "count").sort_values(by="adult", ascending= False).head(5)

ageGroup                           adult  child
good_name
Resident Evil 7                   2750.0  844.0
RESIDENT EVIL 2 - Deluxe Edition  2161.0  301.0
RESIDENT EVIL 7 - Gold Edition     966.0   79.0
Squad                              944.0  173.0
RESIDENT EVIL 2                    940.0  191.0

In [76]:
pd.pivot_table(df, values="good_cnt", index = "good_name", columns= "ageGroup",  aggfunc= "count").sort_values(by="child", ascending= False).head(5)

ageGroup                           adult  child
good_name
Resident Evil 7                   2750.0  844.0
Dead Cells                         794.0  522.0
VCB: Why City 4k                   682.0  434.0
Townscaper                         275.0  340.0
RESIDENT EVIL 2 - Deluxe Edition  2161.0  301.0

In [ ]:
df['order_day'] = pd.to_datetime(df['order_day'])

In [113]:
# 7. –°—Ä–µ–¥–Ω–∏–π —á–µ–∫ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∏–≥—Ä –≤ –º–∞–µ 2022 –≥–æ–¥–∞ –∏ –º–∞–µ 2023 –≥–æ–¥–∞.
df1 = df[(df.order_day == '2022-05') | (df.order_day == '2023-05')]
pd.pivot_table(df1, values="amount", index = "good_name",  aggfunc= "mean")

                                                   amount
good_name
Alone in the Dark (2008)                            62.25
Alone in the Dark Anthology                         87.25
Alone in the Dark: Illumination                    104.75
Aspire: Ina's Tale                                 149.50
Assassin's Creed                                   419.00
...                                                   ...
Windbound                                          399.60
World War III: Black Gold                           99.00
Zoo Seeker                                          30.80
–ö–∞—Ä—Ç–∞ –æ–ø–ª–∞—Ç—ã Xbox Game Pass Ultimate –Ω–∞ 1 –º–µ—Å—è—Ü    929.00
–ö–∞—Ä—Ç–∞ –æ–ø–ª–∞—Ç—ã Xbox Game Pass Ultimate –Ω–∞ 3 –º–µ—Å—è—Ü–∞  2399.00

[172 rows x 1 columns]

In [114]:
# 8 –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∏–≥—Ä –≤ –∂–∞–Ω—Ä–µ —Å–ø–æ—Ä—Ç–∏–≤–Ω—ã–µ –∑–∞ 2023 –≥–æ–¥ —Å—Ä–µ–¥–∏ –º—É–∂—á–∏–Ω –∏ –∂–µ–Ω—â–∏–Ω —Ä–∞–∑–Ω–æ–≥–æ —É—Ä–æ–≤–Ω—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
df1 = df[(df.order_day == '2023') | (df.category_name == '–°–ø–æ—Ä—Ç–∏–≤–Ω—ã–µ')]
pd.pivot_table(df1, values="good_cnt", index = "gender_cd", columns= "education_level",  aggfunc= "count")

education_level  ACD    GRD   PGR   SCH   UGR
gender_cd
F                1.0   19.0   NaN  11.0  14.0
M                NaN  130.0  11.0  82.0  71.0

In [123]:
# 9. –¢–æ–ø-10 –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Ç—Ä–∞—Ç–∏–≤—à–∏—Ö –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –¥–µ–Ω–µ–≥ –Ω–∞ –ø–æ–∫—É–ø–∫—É –∏–≥—Ä –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ü—Ä–µ–¥–∑–∞–∫–∞–∑
df1 = df[df.category_name == '–ü—Ä–µ–¥–∑–∞–∫–∞–∑—ã']
pd.pivot_table(df1, values="amount", index = "good_name",  aggfunc= "count").sort_values(by="amount", ascending= False).head(10)

                                                    amount
good_name
RoboCop: Rogue City - Alex Murphy Edition - –ü–†–ï...      15
RoboCop: Rogue City - –ü–†–ï–î–ó–ê–ö–ê–ó                         10
Tomb Raider I-III Remastered - –ü–†–ï–î–ó–ê–ö–ê–ó                 5
TEKKEN 8 - Deluxe Edition - –ü–†–ï–î–ó–ê–ö–ê–ó                    4
Tales of Arise - Beyond the Dawn Expansion - DL...       4
TEKKEN 8 - –ü–†–ï–î–ó–ê–ö–ê–ó                                     2
HELLDIVERS‚Ñ¢ 2 - –ü–†–ï–î–ó–ê–ö–ê–ó                                1
NARUTO X BORUTO Ultimate Ninja Storm Connection...       1
NARUTO X BORUTO Ultimate Ninja Storm Connection...       1